@model SupWave.Models.Playlist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Playlist @Model.Id </h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"> Name :</label>
                <input asp-for="@Model.Name" class="form-control" disabled />
            </div>
        </form>
    </div>
</div>

<br />
<hr />

<div class="list-actions">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete </a>|
    <a asp-action="Index">Back to List</a>
</div>
